ul.guests-list {
    background: #FFFFFF;
    margin-top: 5px;
    font-size: 14px;
    width: 100%;
    color:  rgba(31, 32, 65, 0.75);
    font-family: 'Montserrat';
    border: 1px solid rgba(31, 32, 65, 0.5);
    border-radius: 4px;
    position: relative;
    padding: 0;
    li {
        list-style-type: none;
        padding-top: 7px;
        padding-right: 7px;
        padding-left: 15px;
        font-family: 'Montserrat';
        font-weight: bold;
        text-transform: uppercase;
        color: #1F2041;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .number-of-type {
            width: 85px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            span.sym {
                position: relative;
                font-size: 18px;
                font-weight: normal;
                color: rgba(31, 32, 65, 0.5);
                border: 1px solid rgba(31, 32, 65, 0.5);
                border-radius: 50%;
                padding: 5px 9px;
            }
            span.sym.plus {
                padding: 5px 7px;
            }
        }
    };
    li.number-of-guests {
        text-transform: none;
        font-weight: normal;
        border-bottom: 1px solid rgba(31, 32, 65, 0.5);
        font-size: 14px;
        padding-top: 12px;
        padding-bottom: 12px;
    }
}
.guest-list__submit {
    font-family: 'Montserrat';
    border: none;
    background-color: #FFFFFF;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: #BC9CFF;
    padding: 0;
    margin: 13px 0;
}