.mixin__dropdown {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-top: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    position: relative;
    z-index: 3;
    cursor: pointer;
    &:after {
        height: 7px;
        width: 7px;
        position: absolute;
        content: '';
        border: 2px solid rgba(31, 32, 65, 0.5);
        border-top: none;
        border-left: none;
        transform: rotate(45deg);
        top: 57%;
        left: 92.5%;
        z-index: 2;
    }
}
.dropbtn {
    background: #FFFFFF;
    margin-top: 5px;
    font-size: 14px;
    width: 100%;
    color:  rgba(31, 32, 65, 0.75);
    font-family: 'Montserrat';
    border: 1px solid rgba(31, 32, 65, 0.5);
    border-radius: 4px;
    position: relative;
    padding: 12px 15px;
    text-align: start;
}
.value-of-mixin {
    background: #FFFFFF;
    font-size: 14px;
    color:  rgba(31, 32, 65, 0.75);
    font-family: 'Montserrat';
    padding: 12px 15px;
    font-weight: 400;
    text-transform: none;
    border-top: 1px solid white;
    border-radius: 4px;
}
.dropdown-content {
    display: none;
    z-index: 1;
    position: absolute;
    top: 19px;
    background-color: #FFFFFF;
    width: 100%;
    border: 1px solid rgba(31, 32, 65, 0.5);
    border-radius: 4px;
}
.mixin__dropdown:hover .dropdown-content {
    display: block;
}
.first, .second, .third {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 7px 7px 15px;
}
.first {
    border-top: 1px solid rgba(31, 32, 65, 0.5);
}
.dropdown-content__submit {
    font-family: 'Montserrat';
    border: none;
    background-color: #FFFFFF;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: #BC9CFF;
    padding: 0;
    margin: 13px 0;
    cursor: pointer;
}
.submits {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 7px;
}
button.sym {
    font-weight: normal;
    background-color: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.5);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color:rgba(31, 32, 65, 0.5);
    cursor: pointer;
}

.value-selector {
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}