@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
  header {
    background-color: #ffffff;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
    padding: 0 10%;
    @media (max-width: 1350px) {
      padding: 0 1%;
    };
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      :last-child{
        margin-right: 0;
      }
      li {
        margin-right: 20px;
        @media (max-width: 425px) {
          margin-right: auto;
          word-break: break-all;
        };
        list-style-type: none;
        a {
          text-decoration: none;
          color: rgba(31, 32, 65, 0.5);
        }
      }
    }
  }

  button.in, button.reg {
    font-family: 'Montserrat';
    border-radius: 22px;
    font-weight: bold;
    padding: 5px 15px;
    text-transform: uppercase;
    background-color: #ffffff;
    border: 2px solid #bc9cff;
    cursor: pointer;
    a {
      color: #bc9cff;
    }
  }
  button.reg {
    border: 2px solid #bc9cff;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    a {
      color: #ffffff;
    }
  }

  li.list-item.dropdown{
    position: relative;
    margin-right: 42px;
    ::after {
      height: 7px;
      width: 7px;
      position: absolute;
      content: '';
      border: 2px solid rgba(31, 32, 65, 0.5);
      border-top: none;
      border-left: none;
      transform: rotate(45deg);
      top: 20%;
      right: -15px;
    }
  }
//параметры для разных ul 
ul.header__list {
  @media (max-width: 950px) {
    display: none;
  };
}
ul.burger__list {
  display: none;
  @media (max-width: 950px) {
    display: block;
  };
}

.burger-menu {
  cursor: pointer;
  display: none;
  z-index: 4;
  @media (max-width: 950px) {
    display: block;
  }
  .b1, .b2, .b3 {
    width: 36px;
    height: 5px;
    background-color: #bc9cff;
    margin: 5px 0;
    transition: 0.3s;
  }
}
.change .b1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}
.change .b3 {
  transform: rotate(45deg) translate(-6px, -6px);
}
.change .b2 {opacity: 0;}

.burger {
  display: none;
  &__list  {
    position: absolute;
    top: -15px;
    right: 0px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 10px;
    li.list-item {
      list-style-type: none;
      margin-top: 10px;
      &:first-child {
        margin-top: 0px;
      }
      &--sign {
        margin-top: 10px;
        a {
          color:  #bc9cff;
          font-weight: bold;
        }
      }
    }
  }
}

//показать по кнопке бурегр меню
.display-block {
  display: block;
}