@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
  header {
    height: 70px;
    background-color: #ffffff;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    .logo {
      margin-left: 10%;
    }
    ul {
      margin-right: 10%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      :last-child{
        margin-right: 0;
      }
      li {
        margin-right: 20px;
        list-style-type: none;
        a {
          text-decoration: none;
          color: rgba(31, 32, 65, 0.5);
        }
      }
    }
  }

  button.in, button.reg {
    border-radius: 22px;
    font-weight: bold;
    padding: 5px 15px;
    text-transform: uppercase;
    background-color: #ffffff;
    border: 2px solid #bc9cff;
    a {
      color: #bc9cff;
    }
  }
  button.reg {
    border: 2px solid #bc9cff;
    background-color: #bc9cff;
    a {
      color: #ffffff;
    }
  }

  li.list-item.dropdown{
    position: relative;
    margin-right: 42px;
    ::after {
      height: 7px;
      width: 7px;
      position: absolute;
      content: '';
      border: 2px solid rgba(31, 32, 65, 0.5);
      border-top: none;
      border-left: none;
      transform: rotate(45deg);
      top: 20%;
      right: -15px;
    }
  }