@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
  header {
    background-color: #ffffff;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
    padding: 0 10%;
    @media (max-width: 1350px) {
      padding: 0 1%;
    };
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      :last-child{
        margin-right: 0;
      }
      li {
        margin-right: 20px;
        @media (max-width: 425px) {
          margin-right: auto;
          word-break: break-all;
        };
        list-style-type: none;
        a {
          text-decoration: none;
          color: rgba(31, 32, 65, 0.5);
        }
      }
    }
  }

  button.in, button.reg {
    border-radius: 22px;
    font-weight: bold;
    padding: 5px 15px;
    text-transform: uppercase;
    background-color: #ffffff;
    border: 2px solid #bc9cff;
    cursor: pointer;
    a {
      color: #bc9cff;
    }
  }
  button.reg {
    border: 2px solid #bc9cff;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    a {
      color: #ffffff;
    }
  }

  li.list-item.dropdown{
    position: relative;
    margin-right: 42px;
    ::after {
      height: 7px;
      width: 7px;
      position: absolute;
      content: '';
      border: 2px solid rgba(31, 32, 65, 0.5);
      border-top: none;
      border-left: none;
      transform: rotate(45deg);
      top: 20%;
      right: -15px;
    }
  }
  li.list-item.qw {
    @media (max-width: 950px) {
      display: none;
    };
  }