@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.main {
    background-image: url("../../img/image_3.png");
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 20px;
    background-size: cover;
    .number-selection {
        box-sizing: border-box;
        max-height: 374px;
        max-width: 380px;
        padding: 40px 30px 30px 30px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.12);
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        margin-left: 10%;
        @media (max-width: 500px) {
            margin: 0 auto;
          };
        font-family: "Montserrat", sans-serif;
        form{
            margin-bottom: 0px;
            h1 {
                font-size: 24px;
                margin: 0px 0px;
            }
        }
    }
}

.date-registration {
    color:  rgba(31, 32, 65, 0.75);;
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 18px;
    width: 150px;
    height: 44px;
    padding-left: 15px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    margin-top: 5px;
    cursor: pointer;
}

.arrival, .departure {
    font-family: 'Montserrat';
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    position: relative;
    &:after {
        height: 7px;
        width: 7px;
        position: absolute;
        content: '';
        border: 2px solid rgba(31, 32, 65, 0.5);
        border-top: none;
        border-left: none;
        transform: rotate(45deg);
        top: 57%;
        left: 125px;
        z-index: 2;
    }
}

.number-selection__submit {
    height: 44px;
    width: 100%;
    font-family: 'Montserrat';
    font-weight: bold;
    text-transform: uppercase;
    color:#FFFFFF;
    font-size: 12px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    border: 0px;
    cursor: pointer;
}
.arrow {
    position: absolute;
    top: 12px;
    right: 14px;
    height: 20px;
}
.slogan {
    width: 20%;
    font-family: 'Montserrat';
    color: rgba(31, 32, 65, 0.75);
    font-size: 14px;
    text-align: right;
    line-height: 24px;
    margin-top: 320px;
    margin-right: 10%;
    margin-left: auto;
    @media (max-width: 800px) {
        width: 40%;
      };
}
.number-selection__inputs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}
.number-selection__button-numbers {
    position: relative;
    width: 100%;
    margin-top: 30px;
}

.air-datepicker-cell.-selected- {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 50%;
    &:hover {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    }
    }
    
    .air-datepicker-body--day-name {
    color:#BC9CFF;
    }
    
    .air-datepicker-cell {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(31, 32, 65, 0.5);
    }
    
    .air-datepicker {
        cursor: pointer;
    —adp-width: 320px;
    —adp-day-cell-height: 45px;
    }
    
    
    
    .air-datepicker-nav--title, .air-datepicker-nav--title i {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 23px;
    color: #1F2041;
    text-align: center;
    }
    
    .air-datepicker-buttons {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    
    }
    
    .air-datepicker-button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #BC9CFF;
    }
    
    .air-datepicker-cell.-current- {
    color: #BC9CFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    }
    
    .air-datepicker-cell.-selected-.-current- {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    }