@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.number-container__images {
    display: flex;
    min-height: 485px;
    flex-wrap: wrap;
    &--big {
        background: url("../../img/number-1.1.svg") center center no-repeat;
        min-width: 70%;
        background-size: cover;
    }
    &--small {
        min-width: 30%;
        display: flex;
        flex-wrap: wrap;
    }
    &--small-one {
        background: url("../../img/number-1.2.svg") center center no-repeat;
        background-size: cover;
        min-width: 100%;
        min-height: 243px;
    }
    &--small-two {
        background: url("../../img/number-1.3.svg") center center no-repeat;
        background-size: cover;
        min-width: 100%;
        min-height: 243px;
    }
}
.number-block__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    color: #1F2041;
}

.number-container__description {
    padding: 70px;
    display: flex;
    justify-content: space-between;
}

.room-info {
    &__comfort {
        display: flex;
        flex-wrap: wrap;
        font-family: 'Montserrat';
        max-width: 290px;
        padding: 20px 20px 20px 5px;
        align-items: center;
        border-bottom: 1px solid rgba(31, 32, 65, 0.1);
        &:last-of-type {
            border: none;
        }
        &--img {
            margin-right: 10px;
        }
        &--text{
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            color: rgba(31, 32, 65, 0.75);
            line-height: 24px;
        }
        &--description {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            color: rgba(31, 32, 65, 0.75);
            line-height: 24px;
        }
    }
}
.room-voices {
    &__stats {
        display: flex;
        padding-top: 20px;
        align-items: flex-end;
    }
    &__circle {
        margin-right: 40px;
    }
    &__list {
        &--item {
            position: relative;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: rgba(31, 32, 65, 0.75);
            &:first-of-type::before {
                background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
            };
            &:last-of-type::before {
                background: linear-gradient(180deg, #919191 0%, #3D4975 100%);
            }
            &:nth-child(2)::before {
                background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
            }
            &:before {
                width: 10px;
                height: 10px;
                position: absolute;
                content: '';
                border: 1px solid linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
                border-radius: 50%;
                background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
                top: 6px;
                left: -15px;
            }
        }
    }
}
.number-container-main {
    display: flex;
    justify-content: center;
}

.number-card__info {
    display: flex;
    justify-content: space-between;
    &--room-number, &--lux, &--price {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        color: #1F2041;
    }
    &--lux {
        font-size: 12px;
        text-transform: uppercase;
        color: #BC9CFF;
        // margin-left: -30px;
    }
    &--price {
        color: rgba(31, 32, 65, 0.5);
        font-weight: 400;
    }
}
.number-card__guests {
    font-family: 'Montserrat';
}
.number-card__add-info-container {
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: rgba(31, 32, 65, 0.75);
    margin-bottom: 10px;
    position: relative;
    line-height: 24px;
    &:last-child {
        line-height: 18px;
    }
    &--icon {
        position: absolute;
        left: 220px;
        cursor: pointer;
    }
}
.number-card__price-value {
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    color: #1F2041;
}