.signUp-container {
    font-family: 'Montserrat';
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px 30px 30px 30px;
    max-width: fit-content;
    margin: auto;
    @media (max-width: 375px) {
        padding: 40px 1px;
    }
    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #1F2041;
    }
    &__input {
        margin-top: 10px;
        position: relative;
        &:nth-child(5){
            margin-top: 20px;
        };
        &:last-child {
            margin-top: 30px;
        }
        &--text {
            font-family: 'Montserrat';
            font-size: 14px;
            line-height: 18px;
            color: #1F2041;
            padding: 13px 0px 13px 15px;
            border: 1px solid rgba(31, 32, 65, 0.25);
            border-radius: 4px;
            width: 320px;
            display: block;
        }
        &--label-for-woman{
            margin-left: 20px;
        }
        &--title {
            margin-top: 20px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
            color: #1F2041;
        }
        &--date {
            color:  rgba(31, 32, 65, 0.75);
            font-family: 'Montserrat';
            font-size: 14px;
            width: 320px;
            padding-left: 15px;
            border: 1px solid rgba(31, 32, 65, 0.25);
            border-radius: 4px;
            margin-top: 5px;
            padding: 12px 15px;
            position: relative;
            display: block;
        }
        &--button {
            height: 44px;
            width: 320px;
            font-family: 'Montserrat';
            font-weight: bold;
            text-transform: uppercase;
            color:#FFFFFF;
            font-size: 12px;
            background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
            border-radius: 22px;
            border: 0px;
            cursor: pointer;
            margin-top: 10px;
        }
        &--arrow {
            position: absolute;
            top: 23px;
            left: 290px;
        }
        &--question {
            display: flex;
            align-items: center;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: #000000;
        }
        &--button-in {
            font-family: 'Montserrat';
            font-style: normal;
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            text-transform: uppercase;
            color: #BC9CFF;
            border-radius: 22px;
            font-weight: bold;
            padding: 0 auto;
            background-color: #ffffff;
            border: 2px solid #bc9cff;
            cursor: pointer;
            width: 99px;
            height: 44px;
            margin-left: 35px;
            a {
            color: #bc9cff;
            }
        }
    } 
}

//стилизация радиокнопок
input[type="radio"]:checked, 
input[type="radio"]:not(:checked) 
{
    position: absolute;
    left: -9999px;
} 
input[type="radio"]:checked + label, 
input[type="radio"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: rgba(31, 32, 65, 0.5);
}
input[type="radio"]:checked + label {
color: rgba(31, 32, 65, 0.75);
}
input[type="radio"]:checked + label:before, 
input[type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    background-color: #ffffff;
    border-radius: 100%;
}
input[type="radio"]:checked + label:before {
    border: 1px solid #BC9CFF;
}
input[type="radio"]:checked + label:after, 
input[type="radio"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    left: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
}
input[type="radio"]:checked + label:after {
    opacity: 1;
}

//стилизация переключателя
.switch-btn {
    display: inline-block;
    width: 40px; /* ширина */
    height: 20px; /* высота */
    border-radius: 19px; /* радиус скругления */
    background: #FFFFFF; /* цвет фона */
    z-index: 0;
    margin: 0;
    padding: 0;
    border-color: rgba(31, 32, 65, 0.25);
    border: 1px solid rgba(31, 32, 65, 0.25);
    cursor: pointer;
    position: relative;
    transition-duration: 300ms; /* анимация */
  }
  .switch-btn::after {
    content: "";
    height: 12px; /* высота кнопки */
    width: 12px; /* ширина кнопки */
    border-radius: 17px;
    background: rgba(31, 32, 65, 0.25);; /* цвет кнопки */
    top: 4px; /* положение кнопки по вертикали относительно основы */
    left: 3px; /* положение кнопки по горизонтали относительно основы */
    transition-duration: 300ms; /* анимация */
    position: absolute;
    z-index: 1;
  }
  .switch-on {
    border-color: #BC9CFF;
    border: 1px solid #BC9CFF;
  }
  .switch-on::after {
    background-color: #BC9CFF;
    left: 25px;
  }
  .main-for-sign {
    background: url("../../img/background-for-sign.png") center center no-repeat;
    background-size: cover;
  }

// параметры для распорок
.wrapper {
    min-height: 20px;
}

//спецпредложения и переключатель
.switch-and-spez {
    display: flex;
    .signUp-container__input--spez {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.75);
        display: inline;
        margin-left: 10px;
        text-align: center;
    }
}
