a {
    text-decoration: none;
}
.card {
    display: flex;
    justify-content: space-between;
    max-width: 270px;
    flex-wrap: wrap;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;
    align-items: center;
    margin-right: 10px;
    margin-top: 20px;
    &__image {
        position: relative;
        cursor: pointer;
        .card__arrrow--left {
            position: absolute;
            top: 45%;
            left: 20px;
        }
        .card__arrrow--right {
            position: absolute;
            top: 45%;
            right: 20px;
        }
        .card__ellipse-pagination {
            position: absolute;
            bottom: 10px;
            right: 20px;
        }
    }
    &__stats {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 20px;
        align-items: center;
    }
    &__number {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #1F2041;
    }
    &__lux {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 20px;
        text-transform: uppercase;
        color: #BC9CFF;
        margin-left: -30px;
    }
    &__price, &__reviews {
        display: flex;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        color: rgba(31, 32, 65, 0.5);
        &--text {
            font-weight: 400;
        }
    }
    &__stars, &__reviews {
        margin-top: 18px;
    }
    &__border {
        position: absolute;
    }
    .card__arrrow--left, .card__arrrow--right, .card__ellipse-pagination {
        display: none;
    }
    .card__image:hover .card__arrrow--left, .card__image:hover .card__arrrow--right, .card__image:hover .card__ellipse-pagination {
        display: block;
    }
}