extends ../layout/default.pug
block title
    title Toxin hotel
block content 
    main
        .number-selection 
            form(action="#" method="POST" class="number-selection__form")
                h1 Найдём номера под ваши пожелания
                .inputs
                    .arrival Прибытие
                        .arrival__select 
                            input(type="date" class="date")
                    .departure Выезд
                        .departure__select
                            input(type="date" class="date")
                .guests Гости
                    .guests__select
                        select
                            option="Сколько гостей"
                .button-numbers
                    input(type="submit" class="number-selection__submit" value="Подобрать номер")
                    img(src="../img/arrow_forward.svg" alt="Стрелка вправо" class="arrow")
        .slogan Лучшие номера для вашей работы, отдыха, и просто вдохновения
            