extends ../layout/default.pug
block title
    title Toxin hotel
block scripts
block content
    include ../components/dropdown/dropdown.pug
    .main
        .number-selection 
            form(action="#" class="number-selection__form")
                h1 Найдём номера под ваши пожелания
                .number-selection__inputs
                    .air-datepicker-global-container
                    label.arrival Прибытие
                        input(type="text" class="date-registration" placeholder="ДД.ММ.ГГГГ" id="arrival")
                    label.departure Выезд
                        input(type="text" class="date-registration" placeholder="ДД.ММ.ГГГГ" id="departure")
                .number-selection__guests 
                    +dropdown('Гости', 'Сколько гостей', 'Взрослые', 'Дети', 'Младенцы', 'guests')
                .number-selection__button-numbers
                    a(href="./numbers.html" target="_blank")
                        input(type="button" class="number-selection__submit" value="Подобрать номер")
                        img(src="../img/arrow_forward.svg" alt="Стрелка вправо" class="arrow")

        p.slogan Лучшие номера для вашей работы, отдыха, и просто вдохновения

        //- класс slogan такой себе, и его позиционирование не такое. Он чуть ближе к краю.
        //- цвет у слов прибытие и выезд черный а там чуть другой
        //- нет стрелок у инпутов
        //-либо у меня так отобразилось, либо у тебя везде двойные отступы в коде
        //- по псевдоэдементам. у меня просто стоит афтер как дочерний элемент от лэйбла, в котором идет инпут. и все прекрастно встает.