extends ../layout/default.pug
block title
    title number
block scripts
block content
    include ../components/dropdown/dropdown.pug

    .number-container

        .number-container__images
            .number-container__images--big
            .number-container__images--small
                .number-container__images--small-one
                .number-container__images--small-two

        .number-container-main

            .number-container__description

                .room-info
                    .number-block__title Сведения о номере
                    .room-info__comfort
                        .room-info__comfort--img
                            img(src="../img/comfort.svg")
                        .room-info__comfort-text-block
                            .room-info__comfort--text Комфорт
                            .room-info__comfort--description Шумопоглащающие стены
                    .room-info__comfort
                        .room-info__comfort--img
                            img(src="../img/conveniens.svg")
                        .room-info__comfort-text-block
                            .room-info__comfort--text Удобство
                            .room-info__comfort--description Окно в каждой из спален
                    .room-info__comfort
                        .room-info__comfort--img
                            img(src="../img/cosiness.svg")
                        .room-info__comfort-text-block
                            .room-info__comfort--text Уют
                            .room-info__comfort--description Номер оснащён камином
                
                .room-voices
                    .number-block__title Впечатления от номера
                    .room-voices__stats
                        .room-voices__circle 
                            img(src="../img/voice-circle.svg")
                        .room-voices__list
                            .room-voices__list--item Великолепно
                            .room-voices__list--item Хорошо 
                            .room-voices__list--item Удовлетворительно
                            .room-voices__list--item Разочарован

                .room-reviews
                    .room-reviews__title-block
                        .number-block__title Отзывы посетителей номера
                        .room-reviews__title-block--value-of-reviews 2 отзыва
                    .room-reviews__review
                        .room-reviews__review-avatar-block
                            .room-reviews__review-avatar-block--avatar1
                            .room-reviews__review-avatar-block--name-and-date <b>Мурад Сарафанов</b> <br>5 дней назад
                        .room-reviews__review-and-likes 
                            .room-reviews__review-and-likes--likes
                                img(src="../img/likes-1.svg")
                            .room-reviews__review-and-likes--text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
                    .room-reviews__review
                        .room-reviews__review-avatar-block
                            .room-reviews__review-avatar-block--avatar2
                            .room-reviews__review-avatar-block--name-and-date <b>Патрисия Стёклышкова</b> <br>Неделю назад
                        .room-reviews__review-and-likes 
                            .room-reviews__review-and-likes--likes
                                img(src="../img/likes-2.svg")
                            .room-reviews__review-and-likes--text Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент

                .room-rules
                    .number-block__title Правила
                    .room-rules__item Нельзя с питомцами
                    .room-rules__item Без вечеринок и мероприятий
                    .room-rules__item Время прибытия — после 13:00, а выезд до 12:00

                .room-return 
                    .number-block__title Отмена
                    .room-return__text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.

            .number-container__number-card
                .number-card__info
                    .number-card__info--room-number № 888
                    .number-card__info--lux ЛЮКС
                    .number-card__info--price <b>9 990Р</b> в сутки
                .number-card__dates
                    .air-datepicker-global-container
                    label.arrival2 Прибытие
                        input(type="text" class="date-registration2" placeholder="ДД.ММ.ГГГГ" id="arrival2")
                    label.departure2 Выезд
                        input(type="text" class="date-registration2" placeholder="ДД.ММ.ГГГГ" id="departure2")
                .number-card__guests 
                    +dropdown('Гости', 'Сколько гостей', 'Взрослые', 'Дети', 'Младенцы', 'guests')
                .number-card__add-info 
                    .number-card__add-info-container
                        .number-card__add-info-container--text 9 990Р х 4 суток
                        .number-card__add-info-container--value 39 960Р
                    .number-card__add-info-container
                        .number-card__add-info-container--text Сбор за услуги: скидка 2 179Р
                        .number-card__add-info-container--icon 
                            img(src="../img/info-icon.svg")
                        .number-card__add-info-container--value 0Р
                    .number-card__add-info-container
                        .number-card__add-info-container--text Сбор за дополнительные <br>услуги
                        .number-card__add-info-container--icon 
                            img(src="../img/info-icon.svg")
                        .number-card__add-info-container--value 300Р
                .number-card__price-value 
                    .number-card__price-value--text Итого
                    .number-card__price-value--line 
                        img(src="../img/price-dotted.svg")
                    .number-card__price-value--value 38 081Р
                .number-card__button 
                    input(type="button" class="number-card__button--button" value="Забронировать")
                    img(src="../img/arrow_forward.svg" alt="Стрелка вправо" class="arrow")
