extends ../layout/default.pug
block title
    title numbers
block scripts
block content
    include ../components/dropdown/dropdown.pug
    include ../components/checkbox/checkbox.pug
    include ../components/card/card.pug
    -var list=["Можно курить","Можно с питомцами", "Можно пригласить гостей (до 10 человек)"]
    -var list2=["Завтрак", "Письменный стол", "Стул для кормления", "Кроватка", "Телевизор", "Шампунь"]
    .main-numbers
        .numbers-container 
            .air-datepicker-global-container
            label.dates.numbers-container-name Даты пребывания в отеле
                    input(type="text" class="dates__input" placeholder="19 - 23 августа" id="dates")
            .guests
                +dropdown('Гости', 'Сколько гостей', 'Взрослые', 'Дети', 'Младенцы', 'guests')
            .price-range
                .numbers-container-name Диапазон цены
                .price-range-value 5000-10000Р
                .price-range-visual
                    .price-range-visual--green
                .price-range-description Стоимость за сутки пребывания в номере
            .house-rules
                .numbers-container-name Правила дома
                each item, key in list 
                    +checkbox(item,key)
            .availability
                .numbers-container-name Доступность
                    +checkbox("Широкий коридор", 4, "Ширина коридоров в номере не менее 91 см.")
                    +checkbox("Помощник для инвалидов", 5, "На 1 этаже вас встретит специалист и проводит до номера.")
            .room-comfort
                +dropdown('Удобства номера', '2 спальни, 2 кровати', 'Спальни', 'Кровати', 'Ванные комнаты', 'room-comfort')
            .added-comfort
                .numbers-container-name.additional-amenities(id="addAm") Дополнительные удобства
                    .down-arrow(id="downArrow")
                    .numbers-container-name__select(id="numContNamSel")
                        each item, key in list2 
                            +checkbox(item, key + 100)
        .selection-of-rooms 
            h2 Номера, которые мы для вас подобрали
            .cards 
                +card("../img/number1.svg", '№ 888', '9 990', 5, '145', 'lux')
