footer
    .footer1
        .hotel 
            .logo
                img(src="../img/Logo.png" alt="Лого")
            .description Бронирование номеров в лучшем отеле 2019 года по версии ассоциации "Отельные взгляды"

        ul.navigation  Навигация
            li.list-item: a(href="#").link-item О нас
            li.list-item: a(href="#").link-item Новости
            li.list-item: a(href="#").link-item Служба поддержки
            li.list-item: a(href="#").link-item Услуги
                
        ul.about О нас
            li.list-item: a(href="#").link-item О сервисе
            li.list-item: a(href="#").link-item Наша команда
            li.list-item: a(href="#").link-item Вакансии
            li.list-item: a(href="#").link-item Инвесторы

        ul.support Служба поддержки
            li.list-item: a(href="#").link-item Соглашения
            li.list-item: a(href="#").link-item Сообщества
            li.list-item: a(href="#").link-item Связь с нами

        .subscribe Подписка
            .description Получайте специальные предложения и новости сервиса
            form(action="#" method="POST") 
                <input type="email" placeholder="Email" class="email">
                <input type="submit" value="" class="email-arrow">

    .footer2
        .copyright Copyright © 2018 Toxin отель. Все права защищены
        .social 
            ul.social-list 
                li.list-item: a(href="https://www.twitter.com/").link-item: img(src="../img/Twitter.png" alt="Twitter")
                li.list-item: a(href="https://www.facebook.com/").link-item: img(src="../img/Facebook.png" alt="Facebook")
                li.list-item: a(href="https://www.instagram.com/").link-item: img(src="../img/Instagram.png" alt="Instagram")