
body
    .logo
        img(src="../img/Logo.png" alt="Лого")
            
    ul.navigation 
        li.list-item: a(href="#").link-item  О нас
        li.list-item: a(href="#").link-item.dropdown Услуги
        li.list-item: a(href="#").link-item Вакансии
        li.list-item: a(href="#").link-item Новости
        li.list-item: a(href="#").link-item.dropdown Соглашения
        li.list-item.buttons
            a(href="#")
                button.in Войти
            a(href="#")
                button.reg Зарегестрироваться