header.header
    .header__logo
        img(src="../img/Logo.svg" alt="Лого")
            
    ul.header__list 
        li.list-item.qw: a(href="#").link-item  О нас
        li.list-item.qw.dropdown: a(href="#").link-item Услуги
        li.list-item.qw: a(href="#").link-item Вакансии
        li.list-item.qw: a(href="#").link-item Новости
        li.list-item.qw.dropdown: a(href="#").link-item Соглашения
        li.list-item.button
          button.in
            a(href="#") Войти
        li.list-item.button
          button.reg 
            a(href="./signUp.html" target="_blank") Зарегистрироваться