html
    head 
        block title 
        meta(name="viewport" content="width=device-width, initial-scale=1")
        block styles 
        style 
            include ../styles/layouts/default.scss
    body
        .default-container 
            include ../components/header.pug 
            block content 
            include ../components/footer.pug 
            //- блок скрипт тебе тут вроде не нужен
            block scripts